---
layout: default
---

<div class="home">
    <ul class="post-list">
      {% for post in paginator.posts %}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <div class="post-meta">
          <ul class="subline">
          <li>{{ post.date | date: date_format }}</li>
          <li>{{ post.content | count_words }} слов</li>
          <li>{% capture time %}{{ post.content | reading_time }}{% endcapture %}
              {% if time == '1' %}
                минута
              {% else %}
                {% case time %}
                  {% when '2' %}
                    две минуты
                  {% when '3' %}
                    три минуты
                  {% when '4' %}
                    четыре минуты
                  {% when '5' %}
                    пять минут
                  {% else %}
                    {{ time }} минут
                {% endcase %}
              {% endif %}
              для прочтения</li>
              </ul>
        </div>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if paginator.total_pages > 1 %}
    <div class="pagination">
      <div class="left">
        {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
            <a href="/"><i class="icon icon-fast-backward"></i></a>
          {% else %}
            <a href="/p/{{ paginator.previous_page }}"><i class="icon icon-fast-backward"></i></a>
          {% endif %}
        {% else %}
          <span class="mute"><i class="icon icon-fast-backward"></i></span>
        {% endif %}
      </div>
      страница {{ paginator.page }} из {{ paginator.total_pages }}
      <div class="right">
        {% if paginator.next_page %}
          <a href="/p/{{ paginator.next_page }}"><i class="icon icon-fast-forward"></i></a>
        {% else %}
          <span class="mute"><i class="icon icon-fast-forward"></i></span>
        {% endif %}
      </div>
    </div>
    {% endif %}
</div>
